---

---

<div class="landing-banner">
    <h1>&gt; PERE PALACIN</h1>
    <h2>SOFTWARE ENGINEER</h2>
    <p>
        Passionate developer with a knack for solving
        <br />
        complex problems through code. Mostly self-taught
        <br />
        and driven by an unyielding curiosity to explore
        <br />
        and master new technologies.
    </p>
    <div class="flex-row mt-1 gap-1">
        <a href="https://github.com/perepalacin" class="icon-link" target="_blank">
            <img src="/icons/github.svg" width="20" height="20" loading="lazy" />
        </a>
        <a href="https://www.linkedin.com/in/perepalacin/" target="_blank" class="icon-link">
            <img src="/icons/linkedin.svg" width="20" height="20" loading="lazy" />
        </a>
    </div>
    <img />
</div>
