---

---

<div class="loading-banner">
    <div class="bottom-text-container">
        <p class="first-text-line">WELCOME TO</p>
        <p class="second-text-line">MY PERSONAL</p>
        <p class="third-text-line">PORTFOLIO SITE</p>
    </div>
</div>
