---

---

<div class="nav-container">
    <nav class="navbar">
        <button class="button"> Home </button>
        <button class="button"> About Me </button>
        <button class="button"> Carreer </button>
        <button class="button"> Skills </button>
        <button class="button"> Projects </button>
    </nav>
</div>
