---

---

<div class="nav-container">
    <nav class="navbar">
        <button class="button"> HOME </button>
        <button class="button"> ABOUT ME </button>
        <button class="button"> CAREER </button>
        <button class="button"> SKILLS </button>
        <button class="button"> PROJECTS </button>
    </nav>
</div>
